*{

margin: 0;
padding: 0;;
text-align: center;
}

h1{
    
    color: rgb(23, 228, 235);
    font-size: 60px;
    text-decoration-line: underline overline;
    background:rgb(81, 83, 81);

    font-style: inherit;

}
h2{
    text-decoration-color:rgb(237, 239, 241);
        color: rgb(62, 63, 63);
        text-decoration-line: underline overline;
    font-size: 40px;
    background:rgb(173, 188, 240);
    font-style: oblique;
}
h3{
color: rgb(71, 104, 101);
font-size: 30px;
background:rgb(108, 149, 236);
font-style: oblique;
text-decoration-line:  underline;
text-decoration-color:rgb(237, 239, 241);

}
#first-paragraph{

    color: rgb(121, 102, 79);
    font-size: 22px;
    /* background:rgb(126, 101, 111); */
}
#second-paragraph{
    color: rgb(121, 102, 79);
    font-size: 22px;
    /* background:rgb(126, 101, 111); */
}
.my-own-class{

    color: rgb(121, 102, 79);
    font-size: 22px;
    /* background:rgb(126, 101, 111); */
}
.box1{
    width: 400px;
    height: 500px;
    /* background-image: linear-gradient(lightblue,pink); */
    text-align:center;
    color: aqua;
    background-image: url('../beer.png');
    font-size: 50px;
    background-repeat: no-repeat;
    float: left;
    margin-left:400px;
    background-size: contain; 
    /* background-size: cover; */
}
.box2{
    width: 400px;
    height: 500px;
    /* background-image: linear-gradient(lightblue,pink); */
    text-align:center;
    color: aqua;
    background-image: url('../beer.png');
    font-size: 50px;
    background-repeat: no-repeat;
    float: left;
    margin-left:400px;
    background-size: contain; 
    /* background-size: cover; */
}
p{

    /* background:rgb(126, 101, 111); */
    color :orange;
    font: size 30px;
    font-weight:bold;
    font-style:italic;
}
li{

    color:rgb(168, 90, 103);
    font-size: 25px;
    font-style: italic;
    font-weight:bold;
    background:rgb(212, 221, 212);
}